# Web Scraping Basico

- link de .csv https://www.football-data.co.uk/data.php

In [1]:
import pandas as pd

In [2]:
# 1 Leer el archivo csv de un web site
df_premier21 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2324/E0.csv")

In [3]:
# Cambiar el nombre de algunas columnas  
df_premier21.rename(columns = {'Date':'date',
                             'HomeTeam':'home_team',
                             'AwayTeam':'away_team',
                             'FTHG':'home_gols',
                             'FTAG':'away_goals',}, inplace = True)

In [4]:
#Mostramos el DataFrame
df_premier21

,Div,date,Time,home_team,away_team,home_gols,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,E0,02/03/2024,15:00,Tottenham,Crystal Palace,3,1,H,0,0,...,2.62,-1.00,1.87,2.03,1.88,2.04,1.91,2.06,1.86,2.02
264,E0,02/03/2024,17:30,Luton,Aston Villa,2,3,A,0,2,...,2.74,0.75,2.02,1.88,2.04,1.89,2.06,1.91,2.00,1.86
265,E0,03/03/2024,13:00,Burnley,Bournemouth,0,2,A,0,1,...,2.23,0.50,1.90,2.00,1.93,2.00,1.93,2.05,1.88,2.00
266,E0,03/03/2024,15:30,Man City,Man United,3,1,H,0,1,...,3.17,-1.75,1.98,1.95,1.88,2.05,2.02,2.05,1.89,1.97
267,E0,04/03/2024,20:00,Sheffield United,Arsenal,0,6,A,0,5,...,2.58,2.00,1.90,2.00,1.91,1.99,2.02,2.05,1.95,1.93

#  2 Leer .csv Multiples URLS con Pandas 

- https://www.football-data.co.uk/mmz4281/2324/E1.csv
- https://www.football-data.co.uk/mmz4281/2324/E0.csv
    
- Link + root + league

In [5]:
# Estructura del link

"https://www.football-data.co.uk/mmz4281/" + "2324" +"/"+ "E0" +".csv"

'https://www.football-data.co.uk/mmz4281/2324/E0.csv'

In [6]:
# Crear una variable root 
root = "https://www.football-data.co.uk/mmz4281/"

In [8]:
# Crear una lista de ligas 
leagues = ['E0','E1','E2','E3','EC']
frames = []

# hacer el loop en la lista league , leer multiples csv y adjuntarlo en un a

for league in leagues:
    df = pd.read_csv( root + '2122' +'/'+ league +'.csv', encoding = 'unicode_escape')
    frames.append(df)

In [9]:
#Tamaño del frame 
len(frames)

5

In [10]:
# Mostrar 1,2,3 elemento
frames[1]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,06/08/2021,19:45,Bournemouth,West Brom,2,2,D,1,1,...,1.84,-0.25,2.13,1.78,2.13,1.80,2.16,1.83,2.09,1.77
1,E1,07/08/2021,15:00,Blackburn,Swansea,2,1,H,1,0,...,1.70,-0.25,1.77,2.14,1.83,2.09,1.87,2.17,1.81,2.04
2,E1,07/08/2021,15:00,Bristol City,Blackpool,1,1,D,1,0,...,1.66,-0.25,1.90,2.00,1.92,1.99,1.92,2.01,1.89,1.95
3,E1,07/08/2021,15:00,Cardiff,Barnsley,1,1,D,0,0,...,1.62,-0.25,2.05,1.75,2.14,1.80,2.19,1.80,2.11,1.75
4,E1,07/08/2021,15:00,Derby,Huddersfield,1,1,D,1,1,...,1.60,-0.25,1.88,2.02,1.88,2.01,1.90,2.07,1.87,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,07/05/2022,12:30,Preston,Middlesbrough,4,1,H,2,0,...,2.15,0.75,1.84,2.06,1.88,2.03,2.00,2.09,1.89,1.96
548,E1,07/05/2022,12:30,Sheffield United,Fulham,4,0,H,3,0,...,2.09,-0.25,1.75,2.05,1.79,2.12,1.85,2.13,1.81,2.03
549,E1,07/05/2022,12:30,Stoke,Coventry,1,1,D,1,1,...,2.15,-0.25,1.91,1.99,1.95,1.95,1.95,2.01,1.90,1.95
550,E1,07/05/2022,12:30,Swansea,QPR,0,1,A,0,0,...,2.71,-0.50,1.92,1.98,1.94,1.96,2.00,1.99,1.95,1.90
551,E1,07/05/2022,12:30,West Brom,Barnsley,4,0,H,2,0,...,2.67,-1.75,1.88,2.02,1.91,1.98,1.99,2.06,1.90,1.95

In [11]:
# Crear una lista de ligas 
leagues = ['E0','E2','E3']
frames = []

# hacer loop a un rango de temporadas e insertar una nueva columna 

for league in leagues:
    for season in range(15,21):
        df = pd.read_csv( root + str(season)+  str(season +1)+'/'+ league +'.csv', encoding = 'unicode_escape')
        df.insert(1,'season',season)
        frames.append(df)

In [12]:
len(frames)

18

In [25]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

# Organizar toda la data en un diccionario

In [28]:
# Crear un diccionario con nombre original de la liga como llave
dict_countries = {'Spanish La Liga':'SP1', 
                  'Spanish Segunda Division':'SP2',
                  'German Bundes':'D1',
                  'English Premier League':'E0','English League 1':'E2','English League 2 ':'E3',
                  }

In [30]:
dict_countries['Spanish La Liga']

'SP1'

In [37]:
dict_historical_data={}
# Crear una lista de ligas 
# leagues = ['E0','E2','E3']


# Hacer loop sobre las llaves del diccionario

for league in dict_countries:
    frames = []
    for season in range(15,21):
        df = pd.read_csv( root + str(season)+  str(season +1)+'/'+ dict_countries[league] +'.csv', encoding = 'unicode_escape')
        df.insert(1,'season',season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [38]:
# Mostrar dataframe dentro de dict_historical_data
dict_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,15,21/08/15,Malaga,Sevilla,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,15,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,15,22/08/15,Espanol,Getafe,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,15,22/08/15,La Coruna,Sociedad,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,15,22/08/15,Vallecano,Valencia,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,20,22/05/2021,Osasuna,Sociedad,0,1,A,0,0,...,2.34,1.00,2.07,1.86,2.06,1.87,2.07,1.96,1.98,1.88
376,SP1,20,22/05/2021,Real Madrid,Villarreal,2,1,H,0,1,...,2.57,-1.00,2.01,1.92,2.00,1.93,2.02,2.02,1.95,1.92
377,SP1,20,22/05/2021,Valladolid,Ath Madrid,1,2,A,1,0,...,2.30,1.50,1.90,2.03,1.90,2.02,1.95,2.06,1.90,1.97
378,SP1,20,23/05/2021,Granada,Getafe,0,0,D,0,0,...,1.80,0.25,1.73,2.08,1.77,2.18,1.84,2.23,1.77,2.12
379,SP1,20,23/05/2021,Sevilla,Alaves,1,0,H,0,0,...,2.40,-1.50,1.97,1.96,1.93,1.99,2.13,2.03,1.99,1.88

In [49]:
import pandas as pd

# Crear un diccionario para almacenar la información sobre las mayores victorias
dict_mayor_victoria = {'Liga': [], 'Equipo Ganador': []}

# Iterar sobre las ligas en el diccionario
for league in dict_historical_data:
    # Filtrar los partidos de la liga actual
    partidos_liga = dict_historical_data[league]
    
    # Encontrar el partido con la mayor diferencia de goles
    mayor_victoria = partidos_liga.loc[(partidos_liga['FTHG'] - partidos_liga['FTAG']).idxmax()]
    
    # Almacenar la información en el diccionario de mayores victorias
    dict_mayor_victoria['Liga'].append(league)
    dict_mayor_victoria['Equipo Ganador'].append(mayor_victoria['HomeTeam'])

# Crear un DataFrame a partir del diccionario
df_mayor_victoria = pd.DataFrame(dict_mayor_victoria)

# Mostrar el DataFrame de manera más ordenada
for index, row in df_mayor_victoria.iterrows():
    print(f"En la liga {row['Liga']}, el equipo ganador fue: {row['Equipo Ganador']}")

En la liga Spanish La Liga, el equipo ganador fue: 157    Real Madrid
157        Leganes
157     Las Palmas
157        Levante
157        Leganes
157         Getafe
Name: HomeTeam, dtype: object
En la liga Spanish Segunda Division, el equipo ganador fue: 100    Alcorcon
100      Girona
100       Cadiz
100    Alcorcon
100       Elche
100     Almeria
Name: HomeTeam, dtype: object
En la liga German Bundes, el equipo ganador fue: 190    Bayern Munich
190    Bayern Munich
190    Bayern Munich
190           Hertha
190       Hoffenheim
190          FC Koln
Name: HomeTeam, dtype: object
En la liga English Premier League, el equipo ganador fue: 207             Stoke
207          West Ham
207    Crystal Palace
207          West Ham
207           Arsenal
207        Man United
Name: HomeTeam, dtype: object
En la liga English League 1, el equipo ganador fue: 437     Millwall
437     Charlton
437    Doncaster
437     Plymouth
437    Peterboro
Name: HomeTeam, dtype: object
En la liga English League 2 , el equipo ganador fue: 504         Cambridge
504        Accrington
504    Newport County
504          Carlisle
504           Grimsby
Name: HomeTeam, dtype: object